<%- include('header') %>
<%- include('signin-overlay') %>
<%- include('guest-overlay') %>
<header class="header">
	<div class="header-div">
		<button id="newOfflineGameBtn" class="input input-btn">
			play offline	
		</button>
		<button id="newOnlineGameBtn" class="input input-btn">
			play online	
		</button>
		<button id="tutorial" class="input input-btn">
			how to play	
		</button>
	</div>
	<div class="header-div">
		<span id="textInfo" class="text-info"></span>
	</div>
	<div class="header-div">
		<% if (username) { %>
			<span class="username"><%= username %></span>
			<a href="/signout" class="username no-left">sign out</a>
		<% } else { %>
			<a href="/signin" class="username">sign in</a>
		<% } %>
	</div>
</header>
<div id="hiddenDiv" class="hidden"></div>
<div id="boardContainer" class="flex">
	<div class="rail-left"></div>
	<div id="innerRail">
		<div id="board" class="board"></div>
	</div>
	<div id="chatContainer" class="rail">
		<div id="chatLog" class="input input-text chat"></div>
		<textarea id="chatInput" class="input input-text chat"></textarea>
		<input id="chatSubmit" type="submit" value="send" class="input chat">
	</div>
</div>
<script
	language="JavaScript"
	type="text/javascript"
	src="/script.js"
></script>
<%- include('footer') %>
