<%- include('header') %>
<%- include('signin-overlay') %>
<%- include('create-game-overlay') %>
<%- include('join-game-overlay') %>
<%- include('alert-overlay') %>
<header class="flex">
	<div class="header-div">
		<button id="newOfflineGameBtn" class="input input-btn">
			play offline	
		</button>
		<button id="joinOnlineGameBtn" class="input input-btn">
			join online	game
		</button>
		<button id="createOnlineGameBtn" class="input input-btn">
			create online game	
		</button>
		<!--
		<button id="tutorialBtn" class="input input-btn">
			how to play	
		</button>
		-->
	</div>
	<div class="header-div">
		<span id="textInfo" class="text-info"></span>
	</div>
	<div class="header-div">
		<span id="usernameDisplay" class="username"></span>
		<!--
		<% if (username) { %>
			<span class="username"><%= username %></span>
			<a href="/signout" class="username no-left">sign out</a>
		<% } else { %>
			<a href="/signin" class="username">sign in</a>
		<% } %>
		-->
	</div>
</header>
<div id="hiddenDiv" class="hidden"></div>
<div id="boardContainer" class="flex">
	<div class="rail"></div>
	<div id="innerRail" class="flex">
		<div id="board" class="board"></div>
		<div id="chatContainer" class="rail">
			<div id="chatLog" class="input input-text chat"></div>
			<div class="flex">
				<textarea id="chatInput" class="input input-text chat"></textarea>
				<input id="chatSubmit" type="submit" value="send" class="input chat">
			</div>
		</div>
	</div>
	<div class="rail"></div>
</div>
<div id="settingsDiv">
	<input type="checkbox" id="highlightOpponentCheckbox" checked>
	<label for="highlightOpponentCheckbox">highlight opponent's next move</label>
</div>
<script
	language="JavaScript"
	type="text/javascript"
	src="/script.js"
></script>
<%- include('footer') %>
